@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@font-face{
    font-family: 'Oswald';
    src: url(../../fonts/Oswaldextralight.ttf) format('truetype'),
         url(../../fonts/Oswaldextralight.woff) format('woff'),
         url(../../fonts/Oswaldextralight.woff2) format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Oswald';
    src: url(../../fonts/Oswaldlight.ttf) format('truetype'),
         url(../../fonts/Oswaldlight.woff) format('woff'),
         url(../../fonts/Oswaldlight.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face{
    font-family: 'Oswald';
    src: url(../../fonts/Oswaldregular.ttf) format('truetype'),
         url(../../fonts/Oswaldregular.woff) format('woff'),
         url(../../fonts/Oswaldregular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Oswaldmedium';
    src: url(../../fonts/Oswaldmedium.ttf) format('truetype');
    src: url(../../fonts/Oswaldmedium.woff) format('woff');
    src: url(../../fonts/Oswaldmedium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Oswald';
    src: url(../../fonts/Oswalddemibold.ttf) format('truetype'),
         url(../../fonts/Oswalddemibold.woff) format('woff'),
         url(../../fonts/Oswalddemibold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Oswald';
    src: url(../../fonts/Oswaldbold.ttf) format('truetype'),
         url(../../fonts/Oswaldbold.woff) format('woff'),
         url(../../fonts/Oswaldbold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'OpenSans';
    src: url(../../fonts/OpenSans-Light.ttf) format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'OpenSans';
    src: url(../../fonts/OpenSans-Regular.ttf) format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'OpenSans';
    src: url(../../fonts/OpenSans-SemiBold.ttf) format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'FiraSans';
    src: url(../../fonts/FiraSans-Light.ttf) format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
